.banner {
  margin-left: 4.5rem;
  margin-top: 4rem;
  overflow: hidden;
  width: 50%;
}

.banner__items {
  div {
    display: flex;
    align-items: center;

    div {
      width: 100%;
    }
  }
}

.banner__slide {
}
