@import "../../../scss/variables";

.button {
  background: $accent;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--white);
  border: 2px solid $accent;
  padding: 1.4rem 4.6rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: transparent;
    color: $accent;
  }
}

// position

.button.center {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100rem;
}
