@import "./variables.scss";
@import "bootstrap/dist/css/bootstrap.min.css";
// @import "../../node_modules/swiper/swiper.scss";

$font-size: 16px; // standart font-size

// settings
html {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: $font-size;
  width: 100%;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  // theme colors
  transition: background 0.3s ease;
  background: $background;
  color: $text;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $text;
}
ul,
ol {
  padding: 0;
  list-style: none;
}
